* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  outline: none;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto Condensed;
  src: url(../fonts/roboto_condensed/RobotoCondensed-Regular.ttf);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/*...........................HEADER...........................................*/

.header {
  min-height: 800px;
  position: relative;
  overflow: hidden;
  z-index: 3;
  background-image: url(../img/picture_header.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header:before {
  background-color: rgba(57, 53, 53, 0.8);
  content: "";
  position: absolute;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.navBar {
  min-height: 105px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 125px;
}

.navBar__phone {
  display: flex;
}

.refs__refs {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  margin-left: 50px;
}

.refs__refs:hover {
  text-decoration-line: underline;
}

.phone__ref {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  margin-left: 15px;
}

.header__content {
  padding: 0px 150px 0px 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__title {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 140px;
  line-height: 164px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

.header__text {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.12em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

/*.............................Description..................................*/

.description {
  padding-top: 150px;
}

.description__content {
  display: flex;
  margin-top: 50px;
}

.description__title {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #777777;
}

.accordeon__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #777777;
  margin-bottom: 50px;
}

.ac-container {
  width: 100%;
  margin: 10px auto 30px auto;
  padding-right: 100px;
}

.ac-container label {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #777777;
  padding: 27px 20px;
  position: relative;
  z-index: 20;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
}

.ac-container label:hover {
  color: #393246;
}

.ac-container label:hover {
  background: #fff;
}

.ac-container label:after,
.ac-container input:checked + label:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  right: 13px;
  top: 7px;
  background: transparent url(../img/Arrow_down.png) no-repeat center center;
  padding: 21px 20px;
}

.ac-container input:checked + label:after {
  background-image: url(../img/Arrow_up.png);
}

.ac-container input {
  display: none;
}

.ac-container article {
  background: rgba(255, 255, 255, 0.5);
  margin-top: -1px;
  overflow: hidden;
  height: 0px;
  position: relative;
  z-index: 10;
  transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.ac-container input:checked ~ article {
  transition: height 0.5s ease-in-out;
}

.ac-container article p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #777777;
  padding: 10px 20px;
}

.ac-container input:checked ~ article.ac-small {
  height: 110px;
}

.ac-container input:checked ~ article.ac-medium {
  height: 150px;
}

.ac-container input:checked ~ article.ac-large {
  height: 180px;
}

/*.....................PORTFOLIO...................................................................*/

.portfolio {
  padding-top: 150px;
}

.portfolio__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfolio__title {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #777777;
  margin-bottom: 65px;
}

.portfolio__refs {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.refs__port {
  display: block;
  text-decoration: none;
  margin-right: 50px;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #878787;
}

.portfolio__section {
  display: grid;
  margin: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 15vw);
  grid-gap: 10px;
}

.portfolio__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio__item {
  display: grid;
  align-content: center;
}

.portfolio__item:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.portfolio__item:nth-child(6) {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
}

.portfolio__item:nth-child(7) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.portfolio__item:nth-child(10) {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
}

.portfolio__section-dop {
  display: none;
  margin: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 15vw);
  grid-gap: 10px;
}

.button {
  width: 350px;
  height: 60px;
  border: 1px solid #000000;
  padding: 22px 57px;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #393246;
  margin-bottom: 100px;
  margin-top: 60px;
  transition: all 0.4s;
}

.button:hover {
  background: #393246;
  border: 1px solid #393246;
  color: #ffffff;
}

.button__ref {
  text-decoration: none;
  display: block;
}

.zayavka__ref {
  display: flex;
  text-decoration: none;
}

.zayavka__title {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #777777;
}

.portfolio__zayavka {
  display: flex;
  margin-bottom: 136px;
}

.zayavka__arrow {
  padding-top: 10px;
}

/*......................POPAP...............................................................................*/

.popAp {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: black;
  left: 0;
  top: 0;
  z-index: 2;
  margin: auto;
  display: none;
}

.popAp__contain {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popAp__content {
  background-color: #fff;
  position: relative;
  width: 800px;
  height: 360px;
  margin-top: 35px;
  padding: 50px;
}

.popAp__close {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.popAp__title {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #777777;
  margin-bottom: 40px;
}

.popAp__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.popAp__send {
  display: flex;
}

.popAp__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 228px;
  height: 60px;
  background: #393246;
  border: 1px solid #393246;
}

.popAp__butt {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: #ffffff;
}

.popAp__agree {
  margin-left: 35px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #878787;
}
.popAp__input {
  width: 320px;
  height: 30px;
  border: 0px;
}

.popAp__name {
  border-bottom: 1px solid #777777;
}

.popAp__phone {
  border-bottom: 1px solid #777777;
}

/*.............................FOOTER.........................................................................*/
.footer {
  min-height: 250px;
}

.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__social {
  display: flex;
}

.social__ref {
  display: block;
  text-decoration: none;
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #777777;
  margin-right: 30px;
  margin-bottom: 30px;
}

.footer__rights {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  color: #878787;
  margin-bottom: 94px;
}
